
body{
    background-image:url("bc8a7ff6d15b20ce7868a032f09f690d.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    

}

h1{
    font-size: 50px;
    text-align: center;
    color: #2c2d4e;
    border-radius: 10px;
    
    border-color: black;
}
h2{
    font-size: 30px;
    text-align: center;
    color: #2c2d4e;
    border-radius: 10px;
    
    border-color: black;
}
img{
    width: 200px;
    height: 150px;
    padding-inline-end: 10px;
    padding-inline-start: 20px;
    page-break-inside: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;




}
